@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@300;400&display=swap');

body {
	font-family: sans-serif;
	font-family: 'Poppins', sans-serif;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0.5rem 0;
}

.entete {
	text-align: center;
	background: #011627;
	color: #d6deeb;
	padding: 2rem;
	min-height: 10vh;
}

h1,
h2,
h3 {
	font-family: 'Josefin Sans', sans-serif;
}

.entete__bouton {
	padding: 1rem 1.5rem;
	border: #be3543 3px solid;
	background: #be3543;
	color: #d6deeb;
	font-size: 1.2rem;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	font-family: 'Josefin Sans', sans-serif;
}

.entete__bouton:hover {
	background: transparent;
}

.entete__bouton:disabled {
	opacity: 0.4;
	cursor: initial;
}
.entete__bouton:disabled:hover {
	background: #be3543;
}

.contenant {
	position: relative;
	width: 100%;
	height: 65vh;
}

.contenant__carte {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contenant__signature {
	position: absolute;
	z-index: 500;
	bottom: 0;
	left: 25px;
	background: #d6deeb;
	padding: 0.5rem;
	border-radius: 3px;
	border: #011627 1px solid;
}

.legende {
	background: #d6deeb;
	width: 200px;
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0.5rem auto;
	font-size: 0.7rem;
	position: absolute;
	left: 25px;
	z-index: 500;
	top: 50%;
	transform: translateY(-50%);
	border: #011627 1px solid;
}

.legende__titre {
	flex-basis: 100%;
	text-align: center;
}

.legende__carte {
	position: relative;
}

.legende__carte__titre {
	position: relative;
}

.legende__carte__titre.interet::after {
	content: '';
	position: absolute;
	width: 65px; 
	height: 15px;
	background-image: url(../images/groupeInterets.png);
	top: 50%;
	transform: translateY(-50%);
	right: -25px;
}

.legende__carte .annuelle::after,
.legende__carte .saisonniere::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 35px;
	border-radius: 5px;
	background-color: #56dbca;
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
}

.legende__carte .saisonniere::after {
	background-color: #cc70d6;
	right: -45px;
}

.legende__carte .poitrimoines::after {
	content: '';
	position: absolute;
	width: 25px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	background-color: #153f7769;
	border: 3px solid #154077;
	top: 50%;
	transform: translateY(-50%);
	right: -10px;
}

.legende__carte .velo::after {
	content: '';
	position: absolute;
	background-image: url(../images/velo.png);
	background-position: center;
	background-size: contain;
	width: 25px;
	height: 25px;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}

.legende__carte .eau::after {
	content: '';
	position: absolute;
	background-image: url(../images/eau.png);
	background-position: center;
	background-size: contain;
	width: 25px;
	height: 25px;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.legende__carte .banc::after {
	content: '';
	position: absolute;
	background-image: url(../images/banc.png);
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 20px;
	top: 50%;
	transform: translateY(-50%);
	right: 75px;
}
.legende__carte .picnic::after {
	content: '';
	position: absolute;
	background-image: url(../images/picnic.png);
	background-position: center;
	background-size: contain;
	width: 25px;
	height: 25px;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}

.legende__carte .position::after {
	content: '';
	background: url(../images/icon_person.png);
	background-position: center;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.leaflet-interactive {
	position: absolute;
}

/* Changer Cluster Color */

.marker-cluster-large {
	background-color: rgb(190, 53, 67, 0.5) !important;
}

.marker-cluster-large div {
	background-color: #be3543 !important;
}

.marker-cluster-medium {
	background-color: rgb(255, 215, 20, 0.5) !important;
}

.marker-cluster-medium div {
	background-color: #ffd714;
}

.marker-cluster-small {
	background-color: rgb(170, 210, 102, 0.5) !important;
}

.marker-cluster-small div {
	background-color: #aad266 !important;
}